<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Trabalhe Conosco</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="../static/images/logo.png">
                <h1>Very Job</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        
    </header>

<main>
    {% block conteudo %}
    {% endblock %}
</main>

<footer>
    <h1> Trabalhe Conosco</h1>
    <a style="color: white;"  href="/login">Acesso ao administrador</a>
    <p>Feito com FLASK</p>
</footer>
    
</body>
</html>